*{
        user-select: none;
        box-sizing:border-box
}
::-webkit-scrollbar{
width:5px;
}
html, body{
    margin:0;
    padding:0;
}
body{
    background: #444;
}
.down{
    position: fixed;
    bottom: 15%;
    font-size: 25px;
    color: #0dcaf0;
    background-color: #343a40;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    text-shadow: 0 0 5px #0dcaf0;
}
a{
text-decoration:none;
color:black
}
::-webkit-scrollbar-thumb{
    border-radius:3px;
}
::-webkit-scrollbar-thumb:hover{
    background: #000;
}
header {
    background-color: #ffffffe6;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background: #444
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.logo {
    font-size: 24px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background: -webkit-linear-gradient(90deg, #000, green, red, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-bar {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width:60%;
    margin: 0 auto;
}
input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline:none;
}

.btn_search {
    background: linear-gradient(90deg, #ffc351ab, #f34300);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.user-profile {
    font-size: 16px;
    color: #fff;
}

/* Style the slider section */
.slider {
    margin-top: 3px;
    position:fixed;
    background-color: #333; /* Adjust to your color scheme */
    width: 0;
    height: 100vh;
    text-align: center;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: calc(100vh - 70px);
    overflow-y: scroll
}
.slider .navigation{
    font-weight: bold;
    font-size:20px;
    margin:10px;
    padding:5px;
    background: #eee;
    text-align:left;
    cursor:pointer;
    border-radius:5px
}
#slide-content{
    display: none;
}
.slider .navigation:hover{
    background-color: #ccc;
}
.slider-container {
    display: flex;
    overflow: auto;
    padding: 20px;
}
.slider .active{
    background-color: #ccc !important
}
.slide {
    flex: 0 0 300px; /* Adjust the slide width as needed */
    margin-right: 20px;
    text-align: center;
}
@keyframes open {
    from {width:0px;}
    to {width:400px;}
}

@keyframes close {
    from {width:400px;}
    to {width:0px;}
}
.N_h1{
    display: none;
}
#h_id{
    float: right;
    background:#f00;
    color: #fff;
    outline: 3px solid #f00;
    display: none
}
#msgs{
    background:#555;
    overflow-y: scroll;
    height: calc(100% - 120px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}
.buttonA{
        background: #8b7ad0;
        font-size:30px;
        color:white;
        padding: 3px;
        width:100%;
        cursor:pointer;
        transition:all 1.5s ease-in-out;
        box-shadow:3px 3px 12px 1px inset #000;
    }
    .buttonA:hover{
        background-color: aliceblue;
        color:black;
    }
.p_div{
    background:#fff;
    margin-top: 5px;
}
.friend_img{
    border-radius:500px;
    border: 3px solid;
}
.F_aside{
    float:left;
    width: 30%;
    border-right:1px solid #000;
    background:#555;
    margin-left:20px;
    max-height: 300px;
    overflow-y: scroll;
    display: none;
}
.G_aside{
    float:right;
    width: 25%;
    background:#333;
    height: calc(100vh - 70px);
    max-height: fit-content;
    overflow-y: scroll;
}
.msg_div{
    width:74%;
    height: calc(100vh - 70px);
}
.L_button{
    background: #99f;
    width:100%;
    font-size: 25px;
}
 @media screen and (max-width: 1250px){
    #s_div{
        display: none;
    }
    .msg_div{
        margin-left:0;
        width:65%;
    }
    .G_aside{
        width:33%;
    }
    .F_aside{
        width:97%;
        float:none
    }
    .search_div{
         display: none;
    }
    .s_button{
    display:block
    }
}
#emoji_div{
    width:400px;
    height:300px;
    overflow:scroll;
    margin-left:40%;
    margin-top:25vh;
    position:fixed;
    z-index:3;
    background:#777;
    display:none;
}
#R_M{
    width:400px;
    height:300px;
    overflow:scroll;
    margin-left:40%;
    margin-top:25vh;
    position:fixed;
    z-index:3;
    background:white;
    display:none;
}
.msg{
    width:25px;
    height:25px;
    display:inline-block;
    position:relative;
    margin:5px;
    padding:5px;
}
#id_image, #id_file{
    position: absolute;
    width:100%;
    left:0;
    top:0;
    height:101%;
    opacity:0;
}
#id_message{
    background:none;
    resize:none;
    width:85%;
    min-height:27px;
    height:27px;
    margin-left:15px;
    margin-top:3px;
    font-size:20px;
    border:none;
    max-height:100px;
}
#id_message:focus{
    outline:none
}
#h_id{
    float: right;
    background:#f00;
    color: #fff;
    outline: 3px solid #f00;
    display: none
}
 @media screen and (max-width: 1450px){
     #emoji_div{
     margin-left:35%
     }
      #R_M{
        margin-left:35%;
    }
 }
 @media screen and (max-width: 1250px){
     #emoji_div{
        margin-left:20%
     }
     #R_M{
        margin-left:20%;
     }
}
@media only screen and (max-width:1000px){
    .input_div{
    width: 70%;
    }
    #id_message{
    width:70%;
    }
}
@media screen and (max-width: 920px){
   #R_M{
        margin-left:15%;
   }
 #emoji_div{
     margin-left:15%
     }
@media screen and (max-width: 820px){
   #R_M{
        margin-left:10%;
    }
#emoji_div{
     margin-left:10%
     }
}
@media screen and (max-width: 750px){
   #R_M{
        margin-left:5%;
    }
#emoji_div{
        margin-left:5%
     }
@media screen and (max-width: 670px){
   #R_M{
        margin-left:0;
        width:270px;
        margin-left:20%;
   }
#emoji_div{
     margin-left:0%
     }
}

@media screen and (max-width: 600px){
    .G_aside{
        width:100%;
        float: none;
        display: none;
    }
    .msg_div{
        width:100%;
        margin:0;
    }
    #G_button{
    display:block
    }
    #h_id{
        display: inline-block;
    }
     .computer{
        display: none;
    }
}

@media screen and (max-width : 450px) {
    .search-bar {
        display: flex;
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: hidden;
        width:60%;
    }
    input[type="text"] {
        width:50%;
    }
    .input_div{
    width: 60%;
    }
    #id_message{
    width:60%;
    }
}
@media only screen and (max-width:320px){
    #id_message{
    font-size:12px;
    margin-top:10px;
    width:45%;
    }
     #R_M{
    margin-left:0;
    width:270px;
    margin-left:15px;
    }
}