{%load static%}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{%static 'Ziscord.png'%}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>Ziscord | {{receiver.group_name}}</title>
    <link rel = "stylesheet" href="{%static 'css/main.css'%}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

    <body>
        <div id="flash_message" style="position:fixed; width:90%;background:lightgreen;z-index:1;border-radius:500px;margin-left:5%;display:none;">
            <h2 style="text-align:center; margin:3px;">
            <span style="color:darkgreen;text-align:center;padding:3px;">Message copied successfully</span>
                </h2>
        </div>
        <div id="R_M" style="background:#555">
        <a href="#" id="D_U"><button class="buttonA" style="background:orangered;font-size:25px;width:100%;text-align:center;margin-bottom:10px;">Delete</button></a>
        <a href="#" id="R_U"><button class="buttonA" style="font-size:25px;width:100%;text-align:center;margin-bottom:10px;">Reply</button></a>
        <button class="buttonA" style="background:red;font-size:25px;width:100%;text-align:center;margin-bottom:10px;" onclick="document.getElementById('R_M').style.display = 'none'">Cancel</button>
         </div>
     <div id="emoji_div">
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😊')">😊</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😃')"></span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😁')">😁</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤗')">🤗</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('❤')">❤</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😉')">😉</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤓')">🤓</span>
        <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😎')">😎</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😭')">😭</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🥺')">🥺</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😔')">😔</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🥰')">🥰</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😠')">😠</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤯')">🤯</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😡')">😡</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('☹')">☹</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😥')">😥</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤬')">🤬</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤑')">🤑</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤒')">🤒</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤕')">🤕</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😷')">😷</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😙')">😙</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😚')">😚</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😘')">😘</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😍')">😍</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🙃')">🙃</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤔')">🤔</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😛')">😛</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤩')">🤩</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🥵')">🥵</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🥶')">🥶</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😂')">😂</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤫')">🤫</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤭')">🤭</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😳')">😳</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🥳')">🥳</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😐')">😐</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😕')">😕</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😒')">😒</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🥱')">🥱</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😴')">😴</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😜')">😜</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤨')">🤨</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😌')">😌</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🌚')">🌚</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🌛')">🌛</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🌞')">🌞</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('⭐')">⭐</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🌟')">🌟</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🖤')">🖤</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('💖')">💖</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('💝')">💝</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('💙')">💙</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('💔')">💔</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('💞')">💞</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😹')">😹</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😻')">😻</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('😼')">😼</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🙀')">🙀</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🙈')">🙈</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🙉')">🙉</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤲')"></span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('👋')">👋</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤜')">🤜</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤛')">🤛</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('👊')">👊</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('👍')">👍</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤝')">🤝</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer; font-size:30px" onclick="copyToTextarea('👏')">👏</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤦‍♂️')">🤦‍♂️</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤦‍♀️')">🤦‍♀️</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('💁‍♂️')">💁‍♂️</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('💁‍♀️')">💁‍♀️</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🙋‍♂️')">🙋‍♂️</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🙋‍♀️')">🙋‍♀️</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🙋‍♂️')">🙋‍♂️</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤷‍♂️')">🤷‍♂️</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🤷‍♀️')">🤷‍♀️</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇵🇸')">🇵🇸</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇹🇷')">🇹🇷</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇪🇬')">🇪🇬</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇮🇶')">🇮🇶</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇯🇵️')">🇯🇵</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇹🇳')">🇹🇳</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇸🇾')">🇸🇾</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇶🇦')">🇶🇦</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇮🇩')">🇮🇩</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇱🇧')">🇱🇧</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇺🇸')">🇺🇸</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇸🇦')">🇸🇦</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇩🇪')">🇩🇪</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇬🇧')">🇬🇧</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇧🇷')">🇧🇷</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇲🇦')">🇲🇦</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🇯🇴')">🇯🇴</span>
         <span style="box-shadow:none;margin:1px;cursor:pointer;font-size:30px;" onclick="copyToTextarea('🏁')"></span>
     </div>
         <!-- Nav bar 1  -->

    <header>
        <div class="header-container navbar">
            <i id="toggle" style="font-weight: bold; font-size: 25px; float: left;cursor:pointer" class='bx bx-menu'></i>
            <div class="logo"><img src="{%static 'Ziscord.png'%}" width="50" height="50"><span class="computer">iscord</span></div>
            <form method="get" style="width:100%" class="computer">
                {%csrf_token%}
                <div class="search-bar">
                    {{filter.form.Searching_Name}}
                    <button class="btn_search">🔎</button>
                </div>
            </form>
            <div class="user-profile" style="position:relative;margin-right:20px" onclick="window.open('/accounts/profile/Notifications')"><i class="fas fa-bell" style="font-size:30px"></i>
               {%if notifications%} <sub style="color:white; background:red; border-radius:5px; padding:2px;position:absolute; top:-10px;right:-3px;font-size:10px;">{{notifications.count}}</sub>{%endif%}
            </div>
            <div class="user-profile" onclick="window.open('/accounts/{{profile.slug}}')"><img src="{{profile.image.url}}" onerror="this.src='{%static 'profileimg.png'%}'" width="40" height="40" style="border-radius: 50%;"></div>
        </div>
    </header>

        <!-- searching results -->

        <div id="slide" class="slider">
            <div id="slide-content" style="text-align:left">
                {%for i in profiles%}
                    {%if i != profile and i not in profile.friends.all%}
                     <a href="/Ziscord/profile/{{i.slug}}/chat">
                         <div style="margin-top: 20px; border-right: 3px double #999;padding-right: 10px;">
                             {%if i.image != ""%}
                                <img src="{{i.image.url}}" width="50" height="50" class="friend_img" onerror="this.src='{%static 'profileimg.png'%}'" style="{%if i.online == True%}border-color: aquamarine;{%else%}border-color: black;{%endif%}">
                             {%else%}
                                <img src="{%static 'profileimg.png'%}" width="50" height="50" class="friend_img"  style="{%if i.online == True%}border-color: aquamarine;{%else%}border-color: black;{%endif%}">
                             {%endif%}
                             {%if i.online == True%}<span style="color:lightgreen">Online</span>{%else%}<span style="color:red"> Offline </span>{%endif%}
                            <h3 style="display: inline-block;float: right; margin-top: 27px;">{{i.user.first_name}} {{i.user.last_name}}</h3>
                        </div>
                     </a>
                     {%if profile in i.pending.all%}
                        <a href="/Ziscord/profile/{{i.slug}}/add_friend"> <button style="font-size:20px;width:100%;background:orangered" class="buttonA">Cancel friend request</button></a>
                     {%else%}
                        <a href="/Ziscord/profile/{{i.slug}}/add_friend"> <button style="font-size:20px;width:100%;" class="buttonA">add friend</button></a>
                        {%endif%}
                    {%endif%}
                {%endfor%}
                <h1 style = "text-align: center; border-bottom: 3px dashed #999">
                friends
                </h1>
                {%for i in profile.friends.all%}
                    <div style="border-bottom: 3px #eee groove;">
                        <a href="/Ziscord/profile/{{i.slug}}/chat">
                            <div style="margin-bottom:10px;padding-bottom:5px;">
                                {%if i.image != ""%}
                                    <img src="{{i.image.url}}" width="50" height="50" class="friend_img" onerror="this.src='{%static 'profileimg.png'%}'" style="{%if i.online == True%}border-color: aquamarine;{%else%}border-color: black;{%endif%}">
                                {%else%}
                                    <img src="{%static 'profileimg.png'%}" width="50" height="50" class="friend_img" style="{%if i.online == True%}border-color: aquamarine;{%else%}border-color: black;{%endif%}">
                                {%endif%}
                                {%if i.online == True%}
                                    <span style="color:lightgreen">Online</span>
                                {%else%}
                                    <span style="color:red"> Offline </span>
                                {%endif%}
                                    <h3 style="display: inline-block;float: right; margin-top: 27px;">{{i.user.first_name}}</h3>
                                {%for m in all_messages.all%}
                                    {%if m.Sender == i and m.sent == False%}
                                        <span style="color:red;margin-left:20%;">* you have new message(s)</span>
                                    {%endif%}
                                {%endfor%}
                                <br>
                            </div>
                        </a>
                        <a href="/Ziscord/profile/{{i.slug}}/unfriend"><button class="buttonA" style="background:orangered;font-size:17px;">Unfriend</button></a>
                    </div>
                {%endfor%}
                <h1 style = "text-align: center; border-bottom: 3px dashed #999">
                    Chats
                </h1>
                {%for i in profile.chatters.all%}
                    {%if i not in profile.friends.all%}
                        <a href="/Ziscord/profile/{{i.slug}}/chat">
                            <div style="margin-bottom:10px;border-bottom: 3px #eee groove;padding-bottom:5px;">
                                {%if i.image != ""%}
                                    <img src="{{i.image.url}}" width="50" height="50" class="friend_img" onerror="this.src='{%static 'profileimg.png'%}'" style="{%if i.online == True%}border-color: aquamarine;{%else%}border-color: black;{%endif%}">
                                {%else%}
                                    <img src="{%static 'profileimg.png'%}" width="50" height="50" class="friend_img" style="{%if i.online == True%}border-color: aquamarine;{%else%}border-color: black;{%endif%}">
                                {%endif%}
                                {%if i.online == True%}<span style="color:lightgreen">Online</span>{%else%}<span style="color:red"> Offline </span>{%endif%}
                                    <h3 style="display: inline-block;float: right; margin-top: 27px;">{{i.user.first_name}}</h3>
                                {%for m in all_messages.all%}
                                    <span style="color:red;margin-left:20%;">* you have {{my_messages}} new message(s)</span>
                                {%endfor%}
                                <br>
                                <a href="/Ziscord/profile/{{i.slug}}/delete_chat"><button class="buttonA" style="background:orangered;font-size:17px;">remove chat</button></a>
                            </div>
                        </a>
                    {%endif%}
                {%endfor%}
            <button style="font-size:25px;background:#999fff; width:100%; text-align: center " id="G_button">Groups</button>
                <a href="/accounts/Search"><button style="font-size:25px;background:#999fff; width:100%; text-align: center;margin-top:10px" class="s_button">Search <img src="{%static 'search icon.png'%}" width="17" height="17"></button></a>

            </div>
        </div>

        <!-- groups aside -->

        <aside class="G_aside" id="G_aside">
            <h1 style = "text-align: center; color:orange; text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em orange;margin-bottom:0">
            groups in your manage <span id = h_id>X</span>
            </h1>
            <hr>
            {%for g in groups%}
                {%if g.admin == profile%}
                     <a href="/accounts/group/{{g.slug}}" style="text-align:center"> <div style="margin-bottom:10px;border-bottom: 3px #eee groove;padding-bottom:5px;display:flex;justify-content: space-between;align-items:center">
                     <span style="color:red;margin-left:20%;display:none" id="span{{g.id}}">* you have new message(s)</span>
                    {%if g.group_image != "" %}
                        <img src="{{g.group_image.url}}" width="50" height="50" class="friend_img" onerror="this.src='{%static 'group.png'%}'">
                    {%else%}
                        <img src="{%static 'group.png'%}" width="50" height="50" class="friend_img">
                    {%endif%}
                         <br>
                         <span style="font-weight: bold; color: white">{{g.group_name}}</span><br>
                     <a href = "/accounts/group/{{g.slug}}/info"><button style="float:right;margin-top:7px; width:auto;background:#ddd;box-shadow:3px 3px 12px 1px inset;border-radius:10px;border:2px groove;" class="L_button">owned</button></a>

                {%for m in group_messages.all%}
                    {%if m.group == g and profile not in m.readers.all%}
                        <script>
                            document.getElementById("span{{g.id}}").style.display = "block"
                        </script>
                    {%endif%}
                {%endfor%}
           </div>
           </a>
               {%endif%}
                {%endfor%}
             <h1 style = "text-align: center; color:orange; text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em orange;">
            groups you membered in
            </h1>
            <hr>
               {%for g in groups%}
               {%if profile in g.members.all%}
            <a href="/accounts/group/{{g.slug}}"><div style="margin-bottom:10px;border-bottom: 3px #eee groove;padding-bottom:5px;">
                <span style="color:red;margin-left:20%;display:none" id="span{{g.id}}">* you have new message(s)</span>
                {%if g.group_image != "" %}
                <img src="{{g.group_image.url}}" width="50" height="50" class="friend_img" onerror="this.src='{%static 'group.png'%}'">
                {%else%}
                <img src="{%static 'group.png'%}" width="50" height="50" class="friend_img">
                {%endif%}
                <a href="/accounts/group/{{g.slug}}/join"><button style="float:right;margin-top:7px; width:auto;background:orangered;box-shadow:3px 3px 12px 1px inset;border-radius:10px" class="L_button">Leave</button></a>
                <span style="font-weight: bold">{{g.group_name}}</span><br>
                 {%for m in group_messages.all%}
                    {%if m.group == g and profile not in m.readers.all%}
                        <script>
                            document.getElementById("span{{g.id}}").style.display = "block"
                        </script>
                    {%endif%}
                {%endfor%}
            </div></a>
               {%endif%}
               {%endfor%}
            <h1 style = "text-align: center; color:orange; text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em orange;">
            suggested groups
            </h1>
            <hr>
               {%for g in groups%}
               {%if g.topic == profile.interest%}
               {%if profile not in g.members.all and profile != g.admin%}
            <a href="/accounts/group/{{g.slug}}"><div style="margin-bottom:10px;border-bottom: 3px #eee groove;padding-bottom:5px;">
                <span style="color:red;margin-left:20%;display:none" id="span{{g.id}}">* you have new message(s)</span>
                {%if g.group_image != "" %}
                <img src="{{g.group_image.url}}" width="50" height="50" class="friend_img" onerror="this.src='{%static 'group.png'%}'">
                {%else%}
                <img src="{%static 'group.png'%}" width="50" height="50" class="friend_img">
                {%endif%}
                 <a href="/accounts/group/{{g.slug}}/join"><button style="float:right;margin-top:7px; width:auto;background:lightblue;box-shadow:3px 3px 12px 1px inset;border-radius:10px" class="L_button">Join</button></a>
                <span style="font-weight: bold">{{g.group_name}}</span><br>
                {%for m in g.group_message_set.all%}
                    {%if m.group == g and profile not in m.readers.all%}
                        <script>
                            document.getElementById("span{{g.id}}").style.display = "block"
                        </script>
                    {%endif%}
                {%endfor%}
            </div></a>
               {%endif%}
               {%endif%}
               {%endfor%}
               <a href="/accounts/groups/create"> <button class="L_button" style="box-shadow:3px 3px 12px 1px inset;">Create you own 😉</button></a>
            </aside>
         <div class="msg_div" id = "msg_div">
        <header style="margin-bottom: 3px; border-bottom: 3px groove;background:#eee;height:auto">
               <a href="/accounts/group/{{receiver.slug}}/info"><h1 style="margin:0;display:flex">
                    {%if receiver.group_image != ""%}
                <img src="{{receiver.group_image.url}}" style="border-radius: 500px; margin-right:5px; margin-left:10px" width="50" height="50" onerror="this.src='{%static 'group.png'%}'">
                    {%else%}
                <img src="{%static 'group.png'%}" style="border-radius: 500px; margin-right:5px; margin-left:10px" width="50" height="50">
                    {%endif%}
                    <span style="float:right;margin-top:10px;font-size:25px;background: -webkit-linear-gradient(60deg, #000, green, red, white); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{receiver.group_name}}</span>
            </h1></a>
            </header>
            <div id="msgs">
                <!-- messages div -->
                {%for msg in messages%}
                {%if msg.group == receiver and msg.sender != profile%}
                {%if msg.reply != none%}
              <div style="width:100%" class="infinite-item"><a href="#{{msg.reply.id}}"><div style="opacity:0.7;background:#fff; color:black; width:auto;display: inline-block; word-wrap: break-word;height: auto;margin: 20px;padding: 10px; border-radius: 20px; min-width: 55px;max-width:90%;max-width:90%;margin-bottom:0;">
                  {%if msg.reply.sender == profile%}<span style="color:lightgreen">replied to you</span> {%elif msg.reply.sender != profile and msg.reply.sender != msg.sender%} <span style="color:orangered">replied to {{msg.reply.sender.user.first_name}}</span> {%else%}<span style="color:orangered"> repied to himself </span> {%endif%}<br/>
                  <pre style="float: left;margin: 0;word-wrap:break-word;max-width:100%;white-space:pre-wrap">
                  {{msg.reply.message}}{%if msg.reply.file != ""%}<br><br>Uploaded file {%endif%}</pre><div style="clear: both"></div>
                    {%if msg.reply.image != ""%}
                    <br/>
                    <img src="{{msg.reply.image.url}}" width="150" height="200" style="display:inline-block;float:right">
                    <br>
                    {%endif%}
                 </div>
                  </a>
                  </div>
                {%endif%}
                <div style="width:100%;margin-top:5px" id="{{msg.id}}"><div ondblclick="h_s_s('{{msg.id}}')" onclick="copy_msg(msg{{msg.id}})" style="background: #fff; color:black; width:auto;display: inline-block; word-wrap: break-word;height: auto;margin: 20px;padding: 10px; border-radius: 20px; min-width: 55px;max-width:90%;max-width:90%;margin-top:0;"><div id="msg{{msg.id}}">{%if msg.sender == receiver.admin%}<a href="/accounts/{{msg.sender.slug}}" style="color:red;float:left">admin</a>{%else%}<a href="/accounts/{{msg.sender.slug}}" style="color:green;float:left">{{msg.sender.user.first_name}}</a>{%endif%}<br><pre style="float: left;margin: 0;word-wrap:break-word;max-width:100%;white-space:pre-wrap;">{{msg.message}}{%if msg.file != ""%}<br><br><a style="color:steelblue" href="{{msg.file.url}}">Uploaded file</a> {%endif%}</pre></div><div style="clear: both"></div>
                    {%if msg.image != ""%}
                    <br/>
                    <img src="{{msg.image.url}}" width="150" height="200">
                    <br>
                    {%endif%}
                    <span style="font-size: 10px;float: left;margin-top: 15px;">{{msg.date|date:'P'}}</span> </div></div>
                {%endif%}
                {%if msg.group == receiver and msg.sender == profile%}
                {%if msg.reply != None%}
                <div style="width:100%; text-align: right"><div style="background: #fff; opacity:0.7; color:black; width:auto;display: inline-block; word-wrap: break-word;height: auto;margin: 20px;padding: 10px; border-radius: 20px; min-width: 55px;max-width:90%;height:auto;margin-bottom:0; "><pre style="float: left;margin: 0;word-wrap:break-word;max-width:100%;white-space:pre-wrap;">
                    {%if msg.reply.sender == profile%} <span style="color:lightgreen">replied to your self</span>{%elif msg.reply.sender != profile%}<span style="color:red">replied to {{msg.reply.sender.user.first_name}}</span>{%endif%}
                    {{msg.reply.message}} {%if msg.file != ""%}<br><br><a style="color:lightgreen" href="{{msg.file.url}}">Uploaded file</a> {%endif%}</pre><div style="clear: both"></div>
                    {%if msg.image != ""%}
                    <br/><img src="{{msg.image.url}}" width="150" height="200"><br>
                   {%endif%}
                </div>
                </div>
                {%endif%}
                <div style="width:100%; text-align: right;margin-top:5px" id="{{msg.id}}" ><div ondblclick="h_s('{{msg.id}}')" onclick="copy_msg(msg{{msg.id}})"  style="background: #99f; color:black; width:auto;display: inline-block; word-wrap: break-word;height: auto;margin: 20px;padding: 10px; border-radius: 20px; min-width: 55px;max-width:90%;height:auto;margin-top:0;">{%if msg.sender == receiver.admin%}<a href="/accounts/{{msg.sender.slug}}" style="color:red;float:left">admin</a>{%else%}<a href="/accounts/{{msg.sender.slug}}" style="color:green;float:left">{{msg.sender.user.first_name}}</a>{%endif%}<br><pre id="msg{{msg.id}}" style="float: left;margin: 0;word-wrap:break-word;max-width:100%;white-space:pre-wrap;">{{msg.message}} {%if msg.file != ""%}<br><br><a style="color:lightgreen" href="{{msg.file.url}}">Uploaded file</a> {%endif%}</pre><div style="clear: both"></div>
                    {%if msg.image != ""%}
                    <br/><img src="{{msg.image.url}}" width="150" height="200"><br>
                   {%endif%}
                    <span style="font-size: 10px;float: left;margin-top: 15px;">{{msg.date|date:'P'}}</span></div></div>
                {%endif%}
                <!-- {% if messages.has_next %}
                    <a class="infinite-more-link" href="?page={{ messages.next_page_number }}">More</a>
                {% endif %}
                <div class="loading" style="display:none;">
                    Loading...
                </div> -->
                {%endfor%}
                <!-- messages div -->
            </div>
            <form method="post" enctype="multipart/form-data">
                {%csrf_token%}
            <div style = "border:1px solid #000; margin-top:5px;border-radius:40px;min-height:40px; height:auto;background:white;display:flex;justify-content:space-between">
                <div class="input_div" >
                    <div style="width:25px; height:25px; display:inline;margin-left:15px;cursor:pointer" id="emoji"><img src="{%static 'emoji.png'%}" width="25" height="25" style="border-radius:500px;"></div> {{Message_Form.message}}
                </div>

                <div style="margin-right:10px;">
                    <div class="msg">{{Message_Form.image}}<i class="fas fa-image" style="font-size:25px;"></i></div> <div class="msg">{{Message_Form.file}} <i class="fas fa-link" style="font-size:25px;"></i></div> <button type="submit" style="display:inline-block;background:none;border:none;width:25px; height:25px;padding:0;display:none;margin-left:5px;" id="button"><i class="fas fa-paper-plane" style="font-size:25px"></i></button>
                </div>
            </div>
            </form>
        </div>
            <script src="{%static 'jquery.js'%}"></script>
            <script>
            document.getElementById("id_Searching_Name").placeholder = "search"
            var aside = false

            document.getElementById("toggle").onclick = function(){
                if (aside){
                    document.getElementById("slide-content").style.display = "none";
                    document.getElementById("slide").style.animation = "close .5s";
                    document.getElementById("slide").style.width = "0px";
                    document.getElementById("toggle").className = "bx bx-menu";
                    aside = false;
                }
                else if (!aside){
                    document.getElementById("slide-content").style.display = "block";
                    document.getElementById("slide").style.animation = "open .5s";
                    document.getElementById("slide").style.width = "400px";
                    document.getElementById("toggle").className = "bx bx-x";
                    aside = true;
                }
            };
            document.getElementById("G_button").onclick = function(){
                document.getElementById("G_aside").style.display = "inline-block";
                document.getElementById("F_aside").style.display = "none";
                document.getElementById("msg_div").style.display = "none";
            }
            document.getElementById("h_id"). onclick = function(){
                 document.getElementById("G_aside").style.display = "none";
                 document.getElementById("F_aside").style.display = "none";
                document.getElementById("msg_div").style.display = "block";
            }
            document.getElementById("id_message").placeholder = "Write your message"
          var message = document.getElementById("id_message")
          var button = document.getElementById("button")
            setInterval(function(){
            document.getElementById("id_message").style.height = (document.getElementById("id_message").scrollHeight)+"px"
            if (message.value != ""){
            button.style.display = "inline-block";
            }
            else if(document.getElementById("id_file").value != ""){
            button.style.display = "inline-block";
            }
            else if(document.getElementById("id_image").value != ""){
                button.style.display = "inline-block"
            }
            else{
                button.style.display = "none"
            }
            },100)
            document.getElementById("emoji").onclick = function(){
            document.getElementById("emoji_div").style.display = 'block'
            }
            document.getElementById("msgs").onclick = function(){
            document.getElementById("emoji_div").style.display = 'none'
            }
            document.getElementById("id_message").onfocus = function(){
            document.getElementById("emoji_div").style.display = 'none'
            }
            function copyToTextarea(e){
            text = e.textContent
            document.getElementById("id_message").value = document.getElementById("id_message").value + e
            }
            setInterval(function(){
              var myRequest = new XMLHttpRequest();
              myRequest.onreadystatechange = function(){
              if(this.readyState == 4 && this.status == 200){

                var [a,b,c] = this.responseText.split('<!-- messages div -->')
                document.getElementById("msgs").innerHTML = b

                var [span1,notifications,span2] = this.responseText.split('<!-- notifications -->')
                document.getElementById("notification_div").innerHTML = notifications

                var [span0,msg_notifications,span3] = this.responseText.split('<!-- msg notifications-->')
                document.getElementById("msgs_div").innerHTML = msg_notifications

                var [span0, friendsAside, span3] = this.responseText.split('<!-- friends Aside -->')
                document.getElementById("F_aside").innerHTML = friendsAside
              }};
              myRequest.open("Get",window.location.href,true)
              myRequest.send();
          }, 2000);
             document.getElementById("profile_div").onmouseover = function(){
              document.getElementById("profile_txt").style.color = "black"
              this.style.background = "white"
          }
          document.getElementById("profile_div").onmouseout = function(){
              this.style.background = "black"
              document.getElementById("profile_txt").style.color = "white"
          }
               function h_s(e){
            document.getElementById("R_M").style.display = "block";
            document.getElementById("D_U").href = "/accounts/group/{{receiver.slug}}/"+e+"/delete";
            document.getElementById("R_U").href = "/accounts/group/{{receiver.slug}}/"+e+"/reply#message"+e;
            }
           function h_s_s(e){
            document.getElementById("R_M").style.display = "block";
            document.getElementById("D_U").style.display = "none";
            document.getElementById("R_U").href = "/accounts/group/{{receiver.slug}}/"+e+"/reply#message"+e;
          }
          function copy_msg(e) {
            var range = document.createRange();
            range.selectNode(e); //changed here
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            document.execCommand("copy");
            window.getSelection().removeAllRanges();
            document.getElementById("flash_message").style.display = "block"
            }
            setInterval(function(){
                document.getElementById("flash_message").style.display = "none"
            }, 2000);

            var chat = document.getElementById("msgs")
            var getOffSet = chat.lastElementChild.offsetTop;

            var chat = document.getElementById("msgs")
            var getOffSet = chat.lastElementChild.offsetTop;

            chat.scrollBy({
            left: 0,
            top: getOffSet
          });
        </script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/infinite.min.js' %}"></script>
        <!-- <script>
          var infinite = new Waypoint.Infinite({
            element: $('.msgs')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
        </script> -->
    </body>
</html>