{%load static%}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{%static 'Ziscord.png'%}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>Ziscord | Home</title>
    <link rel = "stylesheet" href="{%static 'css/main.css'%}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>

        <!-- Nav bar 1  -->
    <header>
        <div class="header-container navbar">
            <i id="toggle" style="font-weight: bold; font-size: 25px; float: left;cursor:pointer" class='bx bx-menu'></i>
            <div class="logo"><img src="{%static 'Ziscord.png'%}" width="50" height="50"><span class="computer">iscord</span></div>
            <form method="get" style="width:100%" class="computer">
                {%csrf_token%}
                <div class="search-bar">
                    {{filter.form.Searching_Name}}
                    <button class="btn_search">🔎</button>
                </div>
            </form>
            <div class="user-profile" style="position:relative;margin-right:20px" onclick="window.open('/accounts/profile/Notifications')"><i class="fas fa-bell" style="font-size:30px"></i>
               {%if notifications%} <sub style="color:white; background:red; border-radius:5px; padding:2px;position:absolute; top:-10px;right:-3px;font-size:10px;">{{notifications.count}}</sub>{%endif%}
            </div>
            <div class="user-profile" onclick="window.open('/accounts/{{profile.slug}}')"><img src="{{profile.image.url}}" onerror="this.src='{%static 'profileimg.png'%}'" width="40" height="40" style="border-radius: 50%;"></div>
        </div>
    </header>

        <!-- searching results -->

        <div id="slide" class="slider">
            <div id="slide-content" style="text-align:left">
                {%for i in profiles%}
                    {%if i != profile and i not in profile.friends.all%}
                     <a href="/Ziscord/profile/{{i.slug}}/chat">
                         <div style="margin-top: 20px; border-right: 3px double #999;padding-right: 10px;">
                             {%if i.image != ""%}
                                <img src="{{i.image.url}}" width="50" height="50" class="friend_img" onerror="this.src='{%static 'profileimg.png'%}'" style="{%if i.online == True%}border-color: aquamarine;{%else%}border-color: black;{%endif%}">
                             {%else%}
                                <img src="{%static 'profileimg.png'%}" width="50" height="50" class="friend_img"  style="{%if i.online == True%}border-color: aquamarine;{%else%}border-color: black;{%endif%}">
                             {%endif%}
                             {%if i.online == True%}<span style="color:lightgreen">Online</span>{%else%}<span style="color:red"> Offline </span>{%endif%}
                            <h3 style="display: inline-block;float: right; margin-top: 27px;">{{i.user.first_name}} {{i.user.last_name}}</h3>
                        </div>
                     </a>
                     {%if profile in i.pending.all%}
                        <a href="/Ziscord/profile/{{i.slug}}/add_friend"> <button style="font-size:20px;width:100%;background:orangered" class="buttonA">Cancel friend request</button></a>
                     {%else%}
                        <a href="/Ziscord/profile/{{i.slug}}/add_friend"> <button style="font-size:20px;width:100%;" class="buttonA">add friend</button></a>
                        {%endif%}
                    {%endif%}
                {%endfor%}
                <h1 style = "text-align: center; border-bottom: 3px dashed #999">
                friends
                </h1>
                {%for i in profile.friends.all%}
                    <div style="border-bottom: 3px #eee groove;">
                        <a href="/Ziscord/profile/{{i.slug}}/chat">
                            <div style="margin-bottom:10px;padding-bottom:5px;">
                                {%if i.image != ""%}
                                    <img src="{{i.image.url}}" width="50" height="50" class="friend_img" onerror="this.src='{%static 'profileimg.png'%}'" style="{%if i.online == True%}border-color: aquamarine;{%else%}border-color: black;{%endif%}">
                                {%else%}
                                    <img src="{%static 'profileimg.png'%}" width="50" height="50" class="friend_img" style="{%if i.online == True%}border-color: aquamarine;{%else%}border-color: black;{%endif%}">
                                {%endif%}
                                {%if i.online == True%}
                                    <span style="color:lightgreen">Online</span>
                                {%else%}
                                    <span style="color:red"> Offline </span>
                                {%endif%}
                                    <h3 style="display: inline-block;float: right; margin-top: 27px;">{{i.user.first_name}}</h3>
<!--                                {%for m in all_messages.all%}-->
<!--                                    {%if m.Sender == i and m.sent == False%}-->
<!--                                        <span style="color:red;margin-left:20%;">* you have new message(s)</span>-->
<!--                                    {%endif%}-->
<!--                                {%endfor%}-->
                                <br>
                            </div>
                        </a>
                        <a href="/Ziscord/profile/{{i.slug}}/unfriend"><button class="buttonA" style="background:orangered;font-size:17px;">Unfriend</button></a>
                    </div>
                {%endfor%}
                <h1 style = "text-align: center; border-bottom: 3px dashed #999">
                    Chats
                </h1>
                {%for i in profile.chatters.all%}
                    {%if i not in profile.friends.all%}
                        <a href="/Ziscord/profile/{{i.slug}}/chat">
                            <div style="margin-bottom:10px;border-bottom: 3px #eee groove;padding-bottom:5px;">
                                {%if i.image != ""%}
                                    <img src="{{i.image.url}}" width="50" height="50" class="friend_img" onerror="this.src='{%static 'profileimg.png'%}'" style="{%if i.online == True%}border-color: aquamarine;{%else%}border-color: black;{%endif%}">
                                {%else%}
                                    <img src="{%static 'profileimg.png'%}" width="50" height="50" class="friend_img" style="{%if i.online == True%}border-color: aquamarine;{%else%}border-color: black;{%endif%}">
                                {%endif%}
                                {%if i.online == True%}<span style="color:lightgreen">Online</span>{%else%}<span style="color:red"> Offline </span>{%endif%}
                                    <h3 style="display: inline-block;float: right; margin-top: 27px;">{{i.user.first_name}}</h3>
<!--                                {%for m in all_messages.all%}-->
<!--                                    <span style="color:red;margin-left:20%;">* you have {{my_messages}} new message(s)</span>-->
<!--                                {%endfor%}-->
                                <br>
                                <a href="/Ziscord/profile/{{i.slug}}/delete_chat"><button class="buttonA" style="background:orangered;font-size:17px;">remove chat</button></a>
                            </div>
                        </a>
                    {%endif%}
                {%endfor%}
            <button style="font-size:25px;background:#999fff; width:100%; text-align: center " id="G_button">Groups</button>
                <a href="/accounts/Search"><button style="font-size:25px;background:#999fff; width:100%; text-align: center;margin-top:10px" class="s_button">Search <img src="{%static 'search icon.png'%}" width="17" height="17"></button></a>

            </div>
        </div>

        <!-- groups aside -->

        <aside class="G_aside" id="G_aside">
            <h1 style = "text-align: center; color:orange; text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em orange;">
            groups in your manage <span id = h_id>X</span>
            </h1>
            <hr>
            {%for g in groups%}
                {%if g.admin == profile%}
                     <a href="/accounts/group/{{g.slug}}"> <div style="margin-bottom:10px;border-bottom: 3px #eee groove;padding-bottom:5px;">
                     <span style="color:red;margin-left:20%;display:none" id="span{{g.id}}">* you have new message(s)</span>
                    {%if g.group_image != "" %}
                        <img src="{{g.group_image.url}}" width="50" height="50" class="friend_img" onerror="this.src='{%static 'group.png'%}'">
                    {%else%}
                        <img src="{%static 'group.png'%}" width="50" height="50" class="friend_img">
                    {%endif%}
                    <a href = "/accounts/group/{{g.slug}}/info"><button style="float:right;margin-top:7px; width:auto;background:#ddd;box-shadow:3px 3px 12px 1px inset;border-radius:10px;border:2px groove;" class="L_button">owned</button></a>
                    <span style="font-weight: bold">{{g.group_name}}</span><br>
<!--                {%for m in group_messages.all%}-->
<!--                    {%if m.group == g and profile not in m.readers.all%}-->
<!--                        <script>-->
<!--                            document.getElementById("span{{g.id}}").style.display = "block"-->
<!--                        </script>-->
<!--                    {%endif%}-->
<!--                {%endfor%}-->
           </div>
           </a>
               {%endif%}
                {%endfor%}
             <h1 style = "text-align: center; color:orange; text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em orange;">
            groups you membered in
            </h1>
            <hr>
               {%for g in groups%}
               {%if profile in g.members.all%}
            <a href="/accounts/group/{{g.slug}}"><div style="margin-bottom:10px;border-bottom: 3px #eee groove;padding-bottom:5px;">
                <span style="color:red;margin-left:20%;display:none" id="span{{g.id}}">* you have new message(s)</span>
                {%if g.group_image != "" %}
                <img src="{{g.group_image.url}}" width="50" height="50" class="friend_img" onerror="this.src='{%static 'group.png'%}'">
                {%else%}
                <img src="{%static 'group.png'%}" width="50" height="50" class="friend_img">
                {%endif%}
                <a href="/accounts/group/{{g.slug}}/join"><button style="float:right;margin-top:7px; width:auto;background:orangered;box-shadow:3px 3px 12px 1px inset;border-radius:10px" class="L_button">Leave</button></a>
                <span style="font-weight: bold">{{g.group_name}}</span><br>
                 {%for m in group_messages.all%}
                    {%if m.group == g and profile not in m.readers.all%}
                        <script>
                            document.getElementById("span{{g.id}}").style.display = "block"
                        </script>
                    {%endif%}
                {%endfor%}
            </div></a>
               {%endif%}
               {%endfor%}
            <h1 style = "text-align: center; color:orange; text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em orange;">
            suggested groups
            </h1>
            <hr>
               {%for g in groups%}
               {%if g.topic == profile.interest%}
               {%if profile not in g.members.all and profile != g.admin%}
            <a href="/accounts/group/{{g.slug}}"><div style="margin-bottom:10px;border-bottom: 3px #eee groove;padding-bottom:5px;">
                <span style="color:red;margin-left:20%;display:none" id="span{{g.id}}">* you have new message(s)</span>
                {%if g.group_image != "" %}
                <img src="{{g.group_image.url}}" width="50" height="50" class="friend_img" onerror="this.src='{%static 'group.png'%}'">
                {%else%}
                <img src="{%static 'group.png'%}" width="50" height="50" class="friend_img">
                {%endif%}
                 <a href="/accounts/group/{{g.slug}}/join"><button style="float:right;margin-top:7px; width:auto;background:lightblue;box-shadow:3px 3px 12px 1px inset;border-radius:10px" class="L_button">Join</button></a>
                <span style="font-weight: bold">{{g.group_name}}</span><br>
<!--                {%for m in g.group_message_set.all%}-->
<!--                    {%if m.group == g and profile not in m.readers.all%}-->
<!--                        <script>-->
<!--                            document.getElementById("span{{g.id}}").style.display = "block"-->
<!--                        </script>-->
<!--                    {%endif%}-->
<!--                {%endfor%}-->
            </div></a>
               {%endif%}
               {%endif%}
               {%endfor%}
               <a href="/accounts/groups/create"> <button class="L_button" style="box-shadow:3px 3px 12px 1px inset;">Create you own 😉</button></a>
            </aside>
        <div class="msg_div" id = "msg_div">
            <header style="margin-bottom: 3px; border-bottom: 3px groove;background:#eee;height:65px">
                <h1 style="text-align:center;margin-top:10px; background: -webkit-linear-gradient(90deg, #000, green, red, white); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Ziscord</h1>
            </header>
            <div style="text-align:center" id="msgs">
                <h3 style="margin-top:30vh;color:orange">Please select a group or a friend to chat</h3>
            </div>
            <form>
            <div style = "border:1px solid #000; margin-top:5px;border-radius:40px;height:40px">
                </div>
            </form>
        </div>
            <script src="{%static 'jquery.js'%}"></script>
            <script>
            document.getElementById("id_Searching_Name").placeholder = "search"
            var aside = false

            document.getElementById("toggle").onclick = function(){
                if (aside){
                    document.getElementById("slide-content").style.display = "none";
                    document.getElementById("slide").style.animation = "close .5s";
                    document.getElementById("slide").style.width = "0px";
                    document.getElementById("toggle").className = "bx bx-menu";
                    aside = false;
                }
                else if (!aside){
                    document.getElementById("slide-content").style.display = "block";
                    document.getElementById("slide").style.animation = "open .5s";
                    document.getElementById("slide").style.width = "400px";
                    document.getElementById("toggle").className = "bx bx-x";
                    aside = true;
                }
            };

            document.getElementById("G_button").onclick = function(){
                document.getElementById("G_aside").style.display = "inline-block";
                document.getElementById("F_aside").style.display = "none";
                document.getElementById("msg_div").style.display = "none";
            }
            document.getElementById("h_id"). onclick = function(){
                 document.getElementById("G_aside").style.display = "none";
                 document.getElementById("F_aside").style.display = "none";
                document.getElementById("msg_div").style.display = "block";
            }
            document.getElementById("profile_div").onmouseover = function(){
              document.getElementById("profile_txt").style.color = "black"
              this.style.background = "white"
          }
          document.getElementById("profile_div").onmouseout = function(){
              this.style.background = "black"
              document.getElementById("profile_txt").style.color = "white"
          }
            setInterval(function(){
              var myRequest = new XMLHttpRequest();
              myRequest.onreadystatechange = function(){
              if(this.readyState == 4 && this.status == 200){

                var [a,b,c] = this.responseText.split('<!-- notifications -->')
                document.getElementById("notification_div").innerHTML = b

                var [span,msg_notifications,span1] = this.responseText.split('<!-- msg notifications-->')
                document.getElementById("msgs_div").innerHTML = msg_notifications

                var [span0, friendsAside, span3] = this.responseText.split('<!-- friends Aside -->')
                document.getElementById("F_aside").innerHTML = friendsAside
              }};
              myRequest.open("Get",window.location.href,true)
              myRequest.send();
          }, 60000);
        </script>
    </body>
</html>