{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Password reset</title>
    <link rel="stylesheet" href="{%static 'Log_in.css'%}">
        <link rel="icon" href="{%static 'Ziscord.png'%}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
{% block content %}
<form>
  <h2>The password has been changed!</h2>
  <button style="background:blue;"><a href="{% url 'login' %}" style="color:white;">log in again?</a></button>
</form>
{% endblock %}
</body>
</html>
