{% load static %}
<!DOCTYPE html>
<!-- commons/change-password.html -->
<html>
<head>
   <link rel="icon" href="{%static 'RabZ.png'%}" type="image/png">
   <title>Change password</title>
    <style>
        h1{
            color:gold;
            background:black;
            text-align:center;
        }
        form input{
        display:block;
        font-size:25px;
        }
    </style>
        <link rel="icon" href="{%static 'Ziscord.png'%}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
<body>
    <h1>Change Password😉</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}<br/><button type="submit" style="background:lightgreen; color:white; font-size:30px; width:100%; cursor:pointer">Submit</button><br/><br/>
        <a href="{% url 'Home' %}"><button style="background:orangered; color:white; font-size:20px;cursor:pointer;"> &leftleftarrows;Back</button></a>
    </form>
</body>
</html>
